<div class='carousel-container'>
    <div class='carousel-content-container'>
        <a class='carousel-content' ng-repeat='item in config' ng-show='currentIndex==$index' ng-href='{{item.contentUrl}}'>
            <h2>{{item.contentTitle}}</h2>
            <p>{{item.contentTitle}}</p>

        </a>
    </div>
    <div class='carousel-controls'>
        <div class='carousel-tab' ng-repeat='item in config' ng-class='{"carousel-current-tab" : currentIndex==$index}' ng-click='goToIndex($index)'></div>
    </div>
</div>